openapi: 3.0.3
info:
  title: Merchant Portal (Converted from Postman)
  version: "1.0.0"

servers:
  - url: https://srvnuarintra.santander.pru.bsch
  - url: https://repgtnprep.minsaitpaymentsprocessing.com

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    CredentialsRequest:
      type: object
      properties:
        idAttributes:
          type: object
          properties:
            uid:
              type: string
        password:
          type: string
        realm:
          type: string
      required: [idAttributes, password, realm]

    JWEGenerateRequest:
      type: object
      properties:
        keyalias:
          type: string
        expiration:
          type: string
        payload:
          type: object
          properties:
            personCode:
              type: string
              example: '884407'
            personType:
              type: string
              example: 'F'
            billingDateFrom:
              type: string
              example: '20250501'
            billingDateTo:
              type: string
              example: '20251024'
            listDateFrom:
              type: string
              example: '20251001'
            listDateTo:
              type: string
              example: '20251031'
            order:
              type: string
              example: 'D'
            commerceCode:
              type: string
              example: '0038833422'
            commerceContract:
              type: string
              example: '884407'
            dateFrom:
              type: string
              example: '20251001'
            dateTo:
              type: string
              example: '20251031'
            valueDate:
              type: string
              example: '20251001'
            totalDate:
              type: string
              example: '20251031'
            totalOrder:
              type: string
              example: '662530'
      required: [ keyalias, expiration, payload ]

    CommercesResponse:
      type: object
      properties:
        commerceList:
          type: array
          items:
            $ref: "#/components/schemas/Commerce"

    GroupedBillingResponse:
      type: object
      properties:
        commerceGroupedBillingList:
          type: array
          items:
            $ref: "#/components/schemas/GroupedBilling"

    CommerceTpvsResponse:
      type: object
      properties:
        commerceTPVs:
          type: array
          items:
            $ref: "#/components/schemas/CommerceTpv"

    TpvOperationsResponse:
      type: object
      properties:
        numOperations:
          type: integer
          format: int32
        clearances:
          type: array
          items:
            $ref: "#/components/schemas/TpvOperation"
    TpvTransactionsResponse:
      type: object
      properties:
        operationClearances:
          type: array
          items:
            $ref: "#/components/schemas/TpvTransaction"


    Commerce:
      type: object
      properties:
        personType:
          type: string
          example: 'F'
        personCode:
          type: string
          example: '884407'
        commerceCode:
          type: string
          example: '0038833422'
        commerceContract:
          type: string
          example: '004918125240196905'
        iban:
          type: string
        commerceName:
          type: string
          example: 'COMERCIO PRUEBAS'
        postalAddress:
          type: string
          example: 'CL SESCTOR ISLAS 14  32705 ARNUIDE'
        groupedBilling:
          type: number
          format: double
          example: 594.29
        groupedBillingDate:
          type: string
          example: '2025-10-01'
        currency:
          type: string
          example: 'EUR'
        dateFrom:
          type: string
          example: '2025-10-01'
        totalGroupedBilling:
          type: number
          format: double
          example: 594.29
        flagTpv:
          type: string
          example: '0'

    GroupedBilling:
      type: object
      properties:
        groupedBillingDate:
          type: string
          example: '2025-11-01'
        groupedBilling:
          type: number
          format: double
          example: 2617.22
        currency:
          type: string
          example: 'EUR'

    CommerceTpv:
      type: object
      properties:
        personType:
          type: string
          example: 'F'
        personCode:
          type: string
          example: '884407'
        commerceCode:
          type: string
          example: '0038833422'
        numTpv:
          type: integer
          format: int32
          example: 1
        numSerialTpv:
          type: string
          example: '1'
        groupedBilling:
          type: number
          format: double
          example: '534.54'
        groupedBillingDate:
          type: string
          example: '2025-10-01'
        currency:
          type: string
          example: 'EUR'
        terminalEnvCode:
          type: string
        terminalEnvDesc:
          type: string
        terminalModel:
          type: string
        terminalModelDesc:
          type: string
        dateFrom:
          type: string
          example: '2025-10-01'
        totalGroupedBilling:
          type: number
          format:  double
          example: 534.54
        dataDatePart:
          type: string
          example: '2025-10-01'

    TpvOperation:
      properties:
        amountDiscounted:
          type: number
          format: double
          example: 0.12
        amountSubscribed:
          type: number
          format: double
          example: 34.88
        amountTotal:
          type: number
          format: double
          example: 35.00,
        refTNumOpe:
          type: string
          example: ' 000060'
        returns:
          type: integer
          format: int32
          example: 0
        sales:
          type: integer
          format: int32
          example: 22
        totalDate:
          type: string
          example: '2025-10-24'
        totalOrder:
          type: integer
          format: int32
          example: 680444
        totalTPV:
          type: string
          example: '1'
        totalTime:
          type: string
          example: '20:30'
        valueDate:
          type: string
          example: '2025-10-27'
        cardType:
          type: string
          example: 'VISA'
        currency:
          type: string
          example: 'EUR'

    TpvTransaction:
      properties:
        cardBrand:
          type: string
          example: '10'
        cardPan:
          type: string
          example: '***************1414'
        cardTypeCode:
          type: string
          example: '00'
        currency:
          type: string
          example: 'EUR'
        dateOperation:
          type: string
          example: '2025-10-16'
        numOperation:
          type: string
          example: '041000'
        operationType:
          type: string
          example: 'VENTA'
        saleImport:
          type: number
          format: double
          example: 5.00
        timeOperation:
          type: string
          example: '16:29'
        totalOrder:
          type: integer
          format: int32
          example: 662370


paths:

  ###########################################################
  ## SAS CREDENTIALS / TOKEN LOGIN
  ###########################################################
  /sas/authenticate/credentials:
    post:
      operationId: postGenerateSASTokens
      summary: Get SAS Credentials Token (JWT & tokenCorp)
      tags: [Nuek]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialsRequest"
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenCorp:
                    type: string
                  cookieCorp:
                    type: string
                  jwt:
                    type: string

  ###########################################################
  ## GENERATE JWE TOKENS
  ###########################################################
  /cos/jwe/scos/generate:
    post:
      operationId: postJWEGenerateToken
      summary: Generate JWE Token
      tags: [Nuek]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JWEGenerateRequest"
      responses:
        "200":
          description: JWE token returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  jwe:
                    type: string


  ###########################################################
  ## 1. NUek Comercios
  ###########################################################
  /api/Comercios/commerces:
    get:
      operationId: getComercios
      summary: NUek – Comercios
      tags: [Nuek]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: personCode
          required: true
          schema:
            type: string
            example: '884407'
        - in: query
          name: personType
          required: true
          schema:
            type: string
            example: 'F'
        - in: query
          name: billingDateFrom
          required: true
          schema:
            type: string
            example: '20250501'
        - in: query
          name: billingDateTo
          required: true
          schema:
            type: string
            example: '20251024'
        - in: query
          name: order
          required: true
          schema:
            type: string
            example: 'D'
        - in: query
          name: listDateFrom
          required: true
          schema:
            type: string
            example: '20251001'
        - in: query
          name: listDateTo
          required: true
          schema:
            type: string
            example: '20251031'
      responses:
        "200":
          description: "List of Comercios"
          content:
            application/json:
              schema:
                 $ref: "#/components/schemas/CommercesResponse"

  ###########################################################
  ## 2. NUek Grouped Billing
  ###########################################################
  /api/Comercios/groupedbilling:
    get:
      operationId: getComerciosGroupedBilling
      summary: NUek – Grouped Billing
      tags: [Nuek]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: personCode
          required: true
          schema:
            type: string
            example: '884407'
        - in: query
          name: personType
          required: true
          schema:
            type: string
            example: 'F'
        - in: query
          name: order
          required: true
          schema:
            type: string
            example: 'D'
        - in: query
          name: listDateFrom
          required: true
          schema:
            type: string
            example: '20251001'
        - in: query
          name: listDateTo
          required: true
          schema:
            type: string
            example: '20251031'
      responses:
        "200":
          description: "Grouped billing information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupedBillingResponse"

  ###########################################################
  ## 3. NUek TPVs
  ###########################################################
  /api/Comercio/tpvs:
    get:
      operationId: getComercioTpvs
      summary: NUek – Comercios TPVs
      tags: [Nuek]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: personType
          required: true
          schema:
            type: string
            example: 'F'
        - in: query
          name: personCode
          required: true
          schema:
            type: string
            example: '884407'
        - in: query
          name: commerceCode
          required: true
          schema:
            type: string
            example: '0038833422'
        - in: query
          name: billingDateFrom
          required: true
          schema:
            type: string
            example: '20250501'
        - in: query
          name: billingDateTo
          required: true
          schema:
            type: string
            example: '20251024'
        - in: query
          name: listDateFrom
          required: true
          schema:
            type: string
            example: '20251001'
        - in: query
          name: listDateTo
          required: true
          schema:
            type: string
            example: '20251031'
        - in: query
          name: order
          required: true
          schema:
            type: string
            example: 'D'
      responses:
        "200":
          description: "List of TPVs"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommerceTpvsResponse"


  ###########################################################
  ## 4. NUek Operaciones TPV
  ###########################################################
  /api/TPV/tpv_clearance:
    get:
      operationId: getTpvOperations
      summary: NUek – TPV Operations
      tags: [Nuek]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: commerceContract
          required: true
          schema:
            type: string
            example: '004918125240196905'
        - in: query
          name: order
          required: true
          schema:
            type: string
            example: 'D'
        - in: query
          name: dateFrom
          required: true
          schema:
            type: string
            example: '20251001'
        - in: query
          name: dateTo
          required: true
          schema:
            type: string
            example: '20251024'
      responses:
        "200":
          description: "List of TPV clearance operations"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TpvOperationsResponse"



  ###########################################################
  ## 5. NUek – Transacciones TPV
  ###########################################################
  /api/CierreCaja/clearance_operations:
    get:
      operationId: getTpvTansactions
      summary: NUek – TPV Transactions
      tags: [Nuek]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: commerceContract
          required: true
          schema:
            type: string
            example: '004918125240196905'
        - in: query
          name: valueDate
          required: true
          schema:
            type: string
            example: '20251001'
        - in: query
          name: totalDate
          required: true
          schema:
            type: string
            example: '20251001'
        - in: query
          name: totalOrder
          required: true
          schema:
            type: string
            example: 'D'
      responses:
        "200":
          description: "List of TPV clearance transactions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TpvTransactionsResponse"
