openapi: 3.0.3
info:
  title: Merchant Portal (Converted from Postman)
  version: "1.0.0"

servers:
  - url: https://srvnuarintra.santander.pru.bsch
  - url: https://repgtnprep.minsaitpaymentsprocessing.com

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    CredentialsRequest:
      type: object
      properties:
        idAttributes:
          type: object
          properties:
            uid:
              type: string
        password:
          type: string
        realm:
          type: string
      required: [idAttributes, password, realm]

    JWEGenerateRequest:
      type: object
      properties:
        keyalias:
          type: string
        expiration:
          type: string
        payload:
          type: object
          properties:
            personCode:
              type: string
              example: '884407'
            personType:
              type: string
              example: 'F'
            billingDateFrom:
              type: string
              example: '20250501'
            billingDateTo:
              type: string
              example: '20251024'
            listDateFrom:
              type: string
              example: '20251001'
            listDateTo:
              type: string
              example: '20251031'
            order:
              type: string
              example: 'D'
            commerceCode:
              type: string
              example: '0038833422'
            commerceContract:
              type: string
              example: '884407'
            dateFrom:
              type: string
              example: '20251001'
            dateTo:
              type: string
              example: '20251031'
            valueDate:
              type: string
              example: '20251001'
            totalDate:
              type: string
              example: '20251031'
            totalOrder:
              type: string
              example: '662530'
      required: [ keyalias, expiration, payload ]

paths:

  ###########################################################
  ## SAS CREDENTIALS / TOKEN LOGIN
  ###########################################################
  /sas/authenticate/credentials:
    post:
      operationId: postGenerateSASTokens
      summary: Get SAS Credentials Token (JWT & tokenCorp)
      tags: [Nuek]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialsRequest"
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenCorp:
                    type: string
                  cookieCorp:
                    type: string
                  jwt:
                    type: string

  ###########################################################
  ## GENERATE JWE TOKENS
  ###########################################################
  /cos/jwe/scos/generate:
    post:
      operationId: postJWEGenerateToken
      summary: Generate JWE Token
      tags: [Nuek]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JWEGenerateRequest"
      responses:
        "200":
          description: JWE token returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  jwe:
                    type: string


  ###########################################################
  ## 1. NUek Comercios
  ###########################################################
  /api/Comercios/commerces:
    get:
      operationId: getComercios
      summary: NUek – Comercios
      tags: [Nuek]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: personCode
          required: true
          schema:
            type: string
            example: '884407'
        - in: query
          name: personType
          required: true
          schema:
            type: string
            example: 'F'
        - in: query
          name: billingDateFrom
          required: true
          schema:
            type: string
            example: '20250501'
        - in: query
          name: billingDateTo
          required: true
          schema:
            type: string
            example: '20251024'
        - in: query
          name: order
          required: true
          schema:
            type: string
            example: 'D'
        - in: query
          name: listDateFrom
          required: true
          schema:
            type: string
            example: '20251001'
        - in: query
          name: listDateTo
          required: true
          schema:
            type: string
            example: '20251031'
      responses:
        "200":
          description: "List of Comercios"
          content:
            application/json:
              schema:
                type: object
                properties:
                  comercios:
                    type: array
                    items:
                      type: object

  ###########################################################
  ## 2. NUek Grouped Billing
  ###########################################################
  /api/Comercios/groupedbilling:
    get:
      operationId: getComerciosGroupedBilling
      summary: NUek – Grouped Billing
      tags: [Nuek]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: personCode
          required: true
          schema:
            type: string
            example: '884407'
        - in: query
          name: personType
          required: true
          schema:
            type: string
            example: 'F'
        - in: query
          name: order
          required: true
          schema:
            type: string
            example: 'D'
        - in: query
          name: listDateFrom
          required: true
          schema:
            type: string
            example: '20251001'
        - in: query
          name: listDateTo
          required: true
          schema:
            type: string
            example: '20251031'
      responses:
        "200":
          description: "Grouped billing information"
          content:
            application/json:
              schema:
                type: object
                properties:
                  groupedBilling:
                    type: array
                    items:
                      type: object

  ###########################################################
  ## 3. NUek TPVs
  ###########################################################
  /api/Comercio/tpvs:
    get:
      operationId: getComercioTpvs
      summary: NUek – Comercios TPVs
      tags: [Nuek]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: personType
          required: true
          schema:
            type: string
            example: 'F'
        - in: query
          name: personCode
          required: true
          schema:
            type: string
            example: '884407'
        - in: query
          name: commerceCode
          required: true
          schema:
            type: string
            example: '0038833422'
        - in: query
          name: billingDateFrom
          required: true
          schema:
            type: string
            example: '20250501'
        - in: query
          name: billingDateTo
          required: true
          schema:
            type: string
            example: '20251024'
        - in: query
          name: listDateFrom
          required: true
          schema:
            type: string
            example: '20251001'
        - in: query
          name: listDateTo
          required: true
          schema:
            type: string
            example: '20251031'
        - in: query
          name: order
          required: true
          schema:
            type: string
            example: 'D'
      responses:
        "200":
          description: "List of TPVs"
          content:
            application/json:
              schema:
                type: object
                properties:
                  tpvs:
                    type: array
                    items:
                      type: object


  ###########################################################
  ## 4. NUek Operaciones TPV
  ###########################################################
  /api/TPV/tpv_clearance:
    get:
      operationId: getTpvOperations
      summary: NUek – TPV Operations
      tags: [Nuek]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: commerceContract
          required: true
          schema:
            type: string
            example: '004918125240196905'
        - in: query
          name: order
          required: true
          schema:
            type: string
            example: 'D'
        - in: query
          name: dateFrom
          required: true
          schema:
            type: string
            example: '20251001'
        - in: query
          name: dateTo
          required: true
          schema:
            type: string
            example: '20251024'
      responses:
        "200":
          description: "List of TPV clearance operations"
          content:
            application/json:
              schema:
                type: object
                properties:
                  operations:
                    type: array
                    items:
                      type: object


  ###########################################################
  ## 5. NUek – Transacciones TPV
  ###########################################################
  /api/CierreCaja/clearance_operations:
    get:
      operationId: getTpvTansactions
      summary: NUek – TPV Transactions
      tags: [Nuek]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: commerceContract
          required: true
          schema:
            type: string
            example: '004918125240196905'
        - in: query
          name: valueDate
          required: true
          schema:
            type: string
            example: '20251001'
        - in: query
          name: totalDate
          required: true
          schema:
            type: string
            example: '20251001'
        - in: query
          name: totalOrder
          required: true
          schema:
            type: string
            example: 'D'
      responses:
        "200":
          description: "List of TPV clearance transactions"
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      type: object